body{
  background-image: url('../img/indexbg.jpg');
  background-size: cover; /*this is important*/
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  letter-spacing: 9px;
}

.jfu{
  margin-top: 20%;
  text-align: center;
}

#jfu{
    width: 65%;
    vertical-align: middle;
}

.btn {
  padding: 15px;
}

.btn-label {
  /*background: gray;*/
  cursor: pointer;
  margin: auto;
  margin-top: 10px;
  width: 300px;
  letter-spacing: 4px;
  border: 2px solid #333;
  padding: 11px 33px;
}

.btn span {
  cursor: pointer;
  text-decoration: underline;
  letter-spacing: 4px;
}

.dialog {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  height: auto;
  left: 10%;
  opacity: 0;
  position: fixed;
  top: 10%;
  transition: opacity 400ms, z-index 0 400ms;
  width: 80%;
  z-index: -1000;
  font-family: 'Montserrat', sans-serif;
}


.dialog.visible {
  opacity: 1;
  transition: opacity 400ms;
  z-index: 1000;
}

.dbutton{
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 42px;
  font-family: 'Montserrat', sans-serif;
  width: auto;
  white-space: nowrap;
  height: 42px;
  margin: 12px 5px 12px 0;
  padding: 0 22px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  border: 2px solid #333;
  background-color: transparent;
  border-radius: 3px;
  vertical-align: top;
}

.dialog-form{
  padding: 20 20 20 20;
}

.dinput{
  margin-top: 10px;
}

input{
  width: 60%;
  padding: 20 20;
  margin: auto;
  border: 2px solid #000000;
  display: block;
}
