#edit-dialog {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  height: auto;
  left: 10%;
  opacity: 0;
  position: fixed;
  top: 10%;
  transition: opacity 400ms, z-index 0 400ms;
  width: 80%;
  z-index: -1000;
  font-family: 'Montserrat', sans-serif;
}

#edit-dialog.visible {
  opacity: 1;
  transition: opacity 400ms;
  z-index: 1000;
}
