#navbar {
  background: #ffffff;
  width: auto;
  margin-top: 40px;
  margin-left: 10%;
  margin-right: 10%;
	@font-face{
		font-family:"Lato-Black";
	}
}

#navbar ul {
  list-style: none;
  line-height: 1;
  display: block;
  zoom: 1;
}

#navbar ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}

#navbar ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}

#navbar.align-right ul li {
  float: right;
}

#navbar.align-center ul {
  text-align: center;
}

#navbar ul li a {
  color: #5c5c5c;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 18px;
  position: relative;
}

#navbar ul li.last{
	float: right;
}

hr {
	width:95%;
	margin-left: 25px;
  height: 30px;
  border-style: solid;
  border-color: black;
  border-width: 1px 0 0 0;
}

.promotions{
	text-decoration: underline;
	text-transform: uppercase;
	text-align: center;
}

.categories{
	text-decoration: underline;
	text-transform: uppercase;
	text-align: center;
	align-content: center;
}

.products{
	text-decoration: underline;
	text-transform: uppercase;
	text-align: center;
	align-content: center;
}

table{
	margin-left: 150px;
}

.flipped {
    transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -khtml-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
}

footer{
/*	font-weight: 1000;*/
	text-transform: uppercase;
	text-align: center;
	align-content: center;
}

footer a{
	font-weight: bold;
	font-size: 25px;
	text-transform: uppercase;
	text-align: center;
	align-content: center;
}

td{
	display:inline-block;
/*	height: 500px;*/
	width: auto;
}
